/*
=================
Body
================
*/
@keyframes slide{
  25%{opacity:1;}
  40%{opacity:0;}
}
/*
================
Animations
================
*/
.pulse{
  margin-top: 29vh!important;
  transition: all 0.1s linear;
}

@-webkit-keyframes rotating{
  from{

  }
}


html{
	-webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

*{

}

/*
=================
HEADER
=================
*/

.header{
    width:100%;

    padding-bottom: 25px;
    text-align: center;
    position: fixed;
    top:0;
    left:0;
    z-index: 99;
}

.scrolledHead{
  background:rgba(0,0,0,0.8);
}
.nonscrollingHead{
  background:rgba(0,0,0,0.8);
}
.scrolledSvg{
  height: 7vh!important;
  position: fixed;
  opacity: 1!important;
  z-index: 99;
  margin-left: -11%;
}
.scrolledLogo{
  padding-top:0!important;
}

.logo{
      padding-top: 25vh;
      padding-bottom: 10px;
      display: flex;
      justify-content: center;
      flex-grow: 1;
}

.logo svg{
  height: 30vh;
  fill: white;
  opacity: 0.5;
  -webkit-filter: drop-shadow(2px 1px 2px rgba(0,0,0,0.8));
}

body > div.hero > div.main_link > a{
  margin-top: 5vh;
}

body > div.hero > i{
  display: flex;
    justify-content: center;
    /* align-content: space-between; */
    /* flex-direction: row; */
    margin-top: 30vh;
    color: white;
      transition: all 0.1s linear;
}

.nil{
    height:10rem;
}

.social{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

/*
=================
MAIN IMAGE
=================
*/
.hero{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../images/wholesalon_stitchweb.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height:100vh;
}

#header > div.main_link > a{
  padding: 9px;
  margin-top: 55px;
  font-size: 14px;
}
/*
=================
Hamburger
=================
*/

.wrapper {
  padding: 0;
  margin: 0;
  width: 90%;
  position: absolute;
  top: 0;
  left: -99%;
  z-index: 999;
  box-shadow: 0 2px 0.8em rgba(0, 0, 0, 0.4);
  transition: left 0.2s linear; }

#sidebar-header {
  width: 100%;
  background-color: #7A5418;
  height: 28vh;
  display: flex;
  align-items: flex-end;
  justify-content: left; }
  #sidebar-header h3 {
    margin-bottom: 2px;
    margin-left: 14px;
    color: #fff; }

#sidebar-header h3{
    float: left;
}

.side-nav {
  height: 90vh;
  background-color: #FAFAFA; }

.side-nav li a {

  display: inline-block;
  text-align: center;
  background-color: #FAFAFA;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 5px;
  margin-bottom: 0px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  position: relative;
  text-decoration: none;
  left: 0; }


ul {
  display: flex;
  justify-content: left;
  list-style: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
}
.service{
  width: 90%;
  margin: 0 auto;
}
.side-nav ul{
    padding-top: 15px;
}

.side-nav ul li{
    height: 50px;
    width: 100%;
    text-transform: uppercase;
}

input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + label {
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  z-index: 100;
  position: fixed;
  top: 10px;
  left: 1.5%;
  padding: 5px 6px;
  z-index: 9999;
}

input[type="checkbox"] + label span {
  display: block;
  background-color: #fff;
  height: 4px;
  margin: 4px auto;
  width: 40px;
  border-radius: 12px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 100; }

input[type="checkbox"]:checked + label span:first-child {
  top: 0;
  width: 50%;
  -webkit-transform: translateX(-11px) translateY(2px) rotate(-45deg);
  -ms-transform: translateX(-11px) translateY(2px) rotate(-45deg) rotate(180deg);
  transform: translateX(-11px) translateY(2px) rotate(-45deg) rotate(180deg); }

input[type="checkbox"]:checked + label span:nth-child(2) {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  left: 2px; }

input[type="checkbox"]:checked + label span:last-child {
  bottom: 0;
  width: 50%;
  -webkit-transform: translateX(-11px) translateY(-2px) rotate(45deg) rotate(180deg);
  -ms-transform: translateX(-11px) translateY(-2px) rotate(45deg) rotate(180deg);
  transform: translateX(-11px) translateY(-2px) rotate(45deg) rotate(180deg); }

input[type="checkbox"]:checked ~ .wrapper {
  left: 0; }

input[type="checkbox"]:checked ~ #darken {
  opacity: 1;
  width: 100vw;
  height: 100vh; }

/*
=================
Body
=================
*/

p{
    color: #8e8e8e;
    font-family: 'Open sans', sans-serif;
}


/*
=================
ARTICLES
=================
*/


/*
=================
Buttons
=================
*/
.main_link{
    height:95px;
    /*background-color: #7A5418;*/
      width: 100%;
  text-align: center;

}

.button{
    display: inline-block;
    text-align: center;

    height: 3.2em;
    line-height: 3.2em;
    width: 16em;
    border-radius: .5em;
    color: #ffffff;
    border: none;
    outline: none;
    transition: background-color .2s ease-in-out;
    transition-delay: initial;
    margin-top: -80px;
    background-color: #B19C78 ;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;

  }

.button:hover{
    background-color: #5E7F58;
}



/*
=================
stylists
=================
*/


/*
=====================================================================================
MEDIA QUERIES
=====================================================================================
*/

/*GREATER THAN 768px*/
@media (max-width: 2000px) {
 .main-image img {
    width: 40%;
    float: right;
    padding-left: 40px;
    }

 .header {
        height: 2em;
    }
input[type="checkbox"] + label, .wrapper{
    display: none;
 }

.stylistimg{
    width:285px;
    border-radius: 50% 50%;
    border: 5px solid #7A5418;
    box-shadow: 2px 2px 4px rgb(0,0,0), 2px -2px 4px rgb(0,0,0), -2px 0px 4px rgb(0,0,0);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3), 2px -2px 4px rgba(0,0,0,0.3), -2px 0px 4px rgba(0,0,0,0.3);
}
.productsimg div{
        display: inline-block;
        padding-bottom: 90px;
    }
.img{
        display: inline;
        width:210px;
        height:210px;
        border-radius: 25px;
        border:3px solid rgba(0,0,0,.4);
        margin:15px;

    }

.slideshow{

    width:800px;
    height:400px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin:50px auto;
    border solid 1px rgba(0,0,0,0.6);
    display: block;

}
.slideshow-container{
    width:2700px;
    height: 400px
}

.photo{
    margin:0 auto;
    opacity: 1;
    padding-bottom: 80px;
    display: inline-block;
    float: left;

}


.map{
    display: inline-block;
    width:100%;
    height: 500px;
    height:65vh;
}

.divider{

    padding-bottom:25px;
    text-align: center;

    }

.divider span {
    display: inline-block;
    background-color: #d0d0d0;
    height: 1px;
    width: 100%;
}

h3{
    font-size: 2em;
    color: black;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 15px;
    padding-top: 15px;
}

.subline{
    color:black;
}


.nav{
    /*background-color: #B19C78 ;*/
    height: 60px;
	   width: 100%;
    text-align: center;
    /*box-shadow: 1px 1px 5px rgba(0,0,0,0.3);*/
	}

	.nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	}

	.nav ul li{
		display: inline-block;
	}

  .nav ul li:nth-child(4){
    flex-grow: 1;
  }
.nav li a{

		    padding-left: 25px;
        padding-right: 25px;
        /*padding-top: 8px;
        padding-bottom: 7px;*/
        /*margin-left: 10px;
        margin-right: 10px;*/
        line-height: 60px;
        height: 60px;

        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        color: #F7F5F5;
        text-decoration: none;
        text-transform: uppercase;
        transition: background-color .2s ease-in-out;
        transition-delay: initial;
	}

	.nav li a:hover {
        color:white;
    }


	.line{
        width: 100%;

	}

	.line span{
		z-index: 1;
		display: inline-block;
		background-color: #d0d0d0;
        height: 1px;
        width: 100%;
        margin-bottom: 4px;
	}

    ul li strong{
        font-weight: bold;
    }
    .hours li{
        font-size: 2em;
    }
    .service li{

    font-size: 2em;
    padding-bottom: 30px;
}


body > div.bottom > ul{
  flex-direction: row;

}

body > div.bottom > ul > li{
  white-space: nowrap;
}


	/*
	==========
	Main Body
	==========
	*/

	.section{
	text-align: center;
	padding-top: 25px;
	padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 80px;
	}
	.section .article{
        clear:both;
		max-width: 1300px;

        margin: 0 auto;
	}

    .main-article{

        padding: 10%;
        padding-top: 3%;
        width: 45%;
    }

	.section .title{
		font-size: 2.5em;
		 color: #484848;
        padding-top: 1.6em;
    	font-family: 'Raleway', sans-serif;
    	text-transform: uppercase;
    	padding-bottom: 25px;
	}
    .maptitle{
        font-size: 2.0em;
         color: #000;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        padding-bottom: 5px;
        padding-top: 15px;
    }
	.section p{
		font-family: 'Raleway', sans-serif;
		font-size: 1.5em;
		line-height: 45px;
	}
	.section .subtitle{
		font-family: 'Raleway', sans-serif;
		font-size: 2em;
		font-weight: 700;
		padding-bottom: 15px;
		padding-top: 15px;
	}

	.book .book-item .phone a{
		font-size: 2em;
		font-family:sans-serif;
		color:#484848;
		text-decoration: none;
	}
	.book .book-item .phone a:hover{
		color:#5E7F58;
	}



	/*
	=========
	Bottom
	=========
	*/
	.bottom{
		text-align: center;
		padding-bottom: 25px;
        padding-left: 70px;
        padding-right: 70px;
	}

    .bottom .line{
        width: 100%;
    }

	.bottom ul li{
		display: inline-block;
		text-align: center;
		padding-left: 15px;

	}
	.bottom ul li a:hover{
		color:#5E7F58;
	}
	.footer{
		width: 100%;
		text-align: center;

	}
}

@media (max-width: 1200px){

.header{
    height: 2em;
}

input[type="checkbox"] + label, .wrapper{
    display: inline-block;
 }



.main-article{
    width: 90%;
    padding: 5%;
}

.nav{
    display: none;
}
.nav ul li{
    padding-top: 0px;
    padding-bottom: 2px;
}
.nav ul li a{
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 0px;
    margin-left: 0px;
}


.section p{

    font-size: 1.4em;
    line-height: 35px;
}
.productsimg div {
  display: inline-block;
  padding-bottom: 0px;
  width: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.img{
    width: 100px;
    height: 100px;
    margin: 5px;
}

.section{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    }
.section .article{
    max-width: 1200px;
    margin: 0 auto;
    }
.section .title{
        font-size: 1.6em;
        padding-top: 1.0em;
        padding-bottom: 15px;
    }

.section .subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  padding-bottom: 25px;
  padding-top: 5px;
}

.hours li {
  font-size: 1.2em;
}


.divider{
    padding-left: 0px;
}
.bottom{

}
.bottum ul li{
    padding-left: 6px;
}

   .bottom .line{
        width: 100%;

    }

   .bottom .line span{
        z-index: 1;
        display: inline-block;
        background-color: #d0d0d0;
        height: 1px;
        width: 100%;
        margin-bottom: 4px;
    }

    .slideshow{
        width: 340px;
    }
}


@media screen and (max-width: 760px){
    .main-image img{
    float: none;
    width: 95%;
    padding-left: 0;
}

.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../images/wholesalon_stitchweblayout.jpg")no-repeat  fixed;
}

body > div.hero > i{
  margin-top:10vh;
}
.pulse{
  margin-top:9vh!important;
}

.logo svg{
  height: 26vh;
}

.service li{
  font-size: 1.5em;
  text-align: -webkit-left;

}
.scrolledSvg{
  margin-left: -39px;
}
body > div.bottom > ul {
    flex-direction: column;
}
body > div.bottom > ul > li {
    white-space: nowrap;
    padding: 10px;
}
}

@media screen and (max-width: 460px){
	.section p{
		font-size: 1em;
	}

  .hero{
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../images/wholesalon_stitchwebsmall.jpg")no-repeat  fixed;
  }

  body > div.hero > i{
    margin-top:27vh;
  }
.pulse{
  margin-top:26vh!important;
}

}
